<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Owner</th>
        <th scope="col">AnimalId</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let animal of registeredAnimals">
        <td>{{ animal.id}}</td>
        <td>{{ animal.username }}</td>
        <td>{{ animal.animalID}}</td>
        <td>{{ animal.animal_name }}</td>
        <td>{{ animal.animal_type }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div>
  <div class="form-group">
    Animal Id: <input type="number" name="Id" [(ngModel)]="animalId">
    <div class = "form-group">
      <label > Services </label>
      <select type="number" name="Id" [(ngModel)]="service">
        <option *ngFor="let service of servicees"
                [value]="service">
          {{service}}
        </option>


      </select>

    </div>
    <button (click)=saveService() class="btn btn-success">
      Add service
    </button>
  </div>
</div>
