<div class="card my-7">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Owner</th>
        <th scope="col">AnimalID</th>
        <th scope="col">Animal Name</th>
        <th scope="col">Service</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let animal of services">
        <td>{{ animal.id}}</td>
        <td>{{ animal.username }}</td>
        <td>{{ animal.animalID }}</td>
        <td>{{ animal.animal_name }}</td>
        <td>{{ animal.service_type }}</td>


      </tr>
      </tbody>

    </table>
  </div>
</div>

<div>
  <div class="form-group">
    Animal Id: <input type="number" name="Id" [(ngModel)]="animalId">
    <div class = "form-group">
      <label for="service"> Hobbies: </label>
      <select
              id="service"
              name="service"
              [(ngModel)]="service">
        <option *ngFor="let service of servicesList"
                [value]="service">
          {{service}}
        </option>
      </select>
    </div>

    <button (click)=saveService() class="btn btn-success">
      Add service
    </button>
  </div>
</div>

