<div class="card my-5">
  <div class="card-body">

    <form (ngSubmit)="onSubmit()" #animalForm="ngForm">
      <div class="form-group">
        <label for="animalName">Name</label>
        <input type="text" [(ngModel)]="animal.name"
               class="form-control" id="animalName" name="animalName" placeholder="Enter your animal name"
               required #animalName="ngModel">
        </div>
      <div [hidden]="!animalName.pristine" class="alert alert-danger">Animal Name is required</div>

        <div class="form-group">
          <label for="type">Type</label>
          <input type="text" [(ngModel)]="animal.type"
                 class="form-control" id="type" name="type" placeholder="Enter your animal type"
                 required #type="ngModel">
        </div>
        <div [hidden]="!type.pristine" class="alert alert-danger">Animal Type is required</div>

      <button type="submit" [disabled]="!animalForm.form.valid" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
<p></p>
