<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">AnimalId</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let animal of myRegisteredAnimals">
        <td>{{ animal.id}}</td>
        <td>{{ animal.animalID}}</td>
        <td>{{ animal.animal_name }}</td>
        <td>{{ animal.animal_type }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div>
  <div class="form-group">
    Animal Id: <input type="number" name="Id" [(ngModel)]="animalId">
    <button (click)=takeAnimalHome() class="btn btn-danger">
      Return
    </button>
  </div>
</div>

<h1 style="font-size: 2em;">
  <span style="color: red;">{{ notification }}</span>
</h1>

